AddHandler cgi-script .cgi
Options ExecCGI Indexes FollowSymLinks MultiViews

<IfModule mod_rewrite.c>
	RewriteEngine On
	#RewriteOptions AllowNoSlash
	RewriteRule \.md$ ./cgi/markdown.cgi?filename=%{REQUEST_FILENAME} [QSA,L]
	RewriteCond %{REQUEST_FILENAME} -d
	RewriteRule (\/$|^$) ./cgi/markdown.cgi?filename=%{REQUEST_FILENAME} [QSA]
</IfModule>
